.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 80vw;
  margin: auto;
  padding: 2rem 2.5rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Container by Bootstrap */
.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

/* Background Image */
#bg-img {
  background: url(../img/background.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

#date {
  text-align: right;
}

#recipient {
}

#content {
  line-height: 1.5;
}

#sender {
  text-align: right;
}
