@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");
/* font-family: 'Montserrat', sans-serif; */

@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500");
/* font-family: 'Roboto Mono', monospace; */

body {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
p {
  font-family: "Roboto Mono", monospace;
  text-align: justify;
  font-weight: 400;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 60vw;
  margin: 1.5rem auto;
  padding: 2.5rem 2.5rem;
  background: rgb(255, 255, 255, 0.6);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Background Image */
#bg-img {
  background: url(../img/bg-love.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

#date h3 {
  text-align: right;
  font-style: italic;
  font-size: 1rem;
}

#recipient {
}

#content {
  line-height: 1.5;
}

#sender {
  text-align: right;
}

/* Media Queries */
/* @media (min-width: 1043) {
  max-width: 60vw;
}

@media (max-width: 991px) {
  .card {
    max-width: 60vw;
  }
}
@media (max-width: 768px) {
  .card {
    max-width: 60vw;
  }
}

@media (max-width: 576px) {
  .card {
    max-width: 80vw;
  }
} */

@media (max-width: 768px) {
  .card {
    max-width: 80vw;
  }
}
